header{
    background-color: rgb(36, 4, 73);
    width: 100%;
    height: 100px;
}

.Logo{
    height: 80px;
    margin-left: 250px;
}
a{
    color: white;
    background-color: rgb(59, 5, 109);
    border-radius: 10px;
    

}